<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wonder Women</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ruslan+Display" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="media">
              <div class="media-left media-middle">
                <img class="media-object" src="/images/WW.jpg" >
              </div>
              <div class="media-body">
                <h2>Gym Workouts API</h2>
                <h4><a href="/api">Read My API Documentation</a></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-header">
      <h1>Best Gym Workouts For Wonder Woman</br><small>8 weeks.</br>8 amazing workouts.</br>Start today! 2 month from now you will thank yourself!</small></h1>
    </div>

<!-- handlebars template -->
  <div id='gymworkoutTarget' class="demo-card">
    <script id="gymworkouts-template" type="text/x-handlebars-template">
      <div class="card">
        {{#each gymworkouts}}
        <img class="card-img-top" alt="Card image cap" src={{photo}}>
        <div class="card-block">
          <h2 class="card-title text">{{name}} <button type="button" name="button" class="deleteBtn btn btn-danger" data-id={{_id}}>Delete</button></h2>
          <h3 class="card-text text">Week: {{week}} ||  Level: {{level}}</h3>
          <h3 class="card-text text">Motivation: {{motivation}}</h3>
          <hr>
          {{/each}}
        </div>
      </div>
    </script>
  </div>

  <form class="col-md-4 col-md-offset-4" id="newGymworkoutForm">
    <div class="form-group">
      <h3>Do you have more workout ideas? Add them now!</h3>
      <label for="namr">Workout name</label></br>
      <input type="text" class="form-control" name="name" placeholder="Workout name">
    </div>
    <div class="form-group">
      <label for="photo">Photo link</label></br>
      <input type="text" class="form-control" name="photo" placeholder="URL">
    </div>
    <div class="form-group">
      <label for="week">Week</label></br>
      <input type="text" class="form-control" name="week" placeholder="Week">
    </div>
    <div class="form-group">
      <label for="level">Level</label></br>
      <input type="text" class="form-control" name="level" placeholder="Level of difficulty">
    </div>
    <div class="form-group">
      <label for="motivation">Motivation</label></br>
      <input type="text" class="form-control" name="motivation" placeholder="Motivational quote">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Add more</button>
      <br />
    </div>
  </form>
  </body>
</html>
