body {
  font-family: 'Ruslan Display', cursive;
}

h1 {
  margin-top: 100px;
  text-align: center;
}

.page-header {
  text-align:center;
}

img {
  width: 95%;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.media-object {
  width: 200px;
  border-radius: 5px;
}

.demo-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 100px;
}

h4.title {
  text-align: center;
}

.text {
  margin-left: 5%;
}

hr {
  border: 1px solid grey;
}
